<div class="container">
    <div class="ctn-left1">
        <label>Line number</label>
        <br>
        <label>From</label>
        <br>
        <label>Drawing number</label>
        <br>
        <label>Material</label>
        <br>
        <label>Pipe size</label>
        <br>
        <label>Stress</label>
        <br>
        <label>ca</label>
        <br>
        <label>design pressure</label>
        <br>
        <label>design temperature</label>
    </div>
    <div class="ctn-left2">
        <input type="text" placeholder="text" id="">
        <input type="text" placeholder="text" id="">
        <input type="text" placeholder="text" id="">
        <input type="text" placeholder="text" id="">
        <input type="number" placeholder="number">
        <input type="number" placeholder="number">
        <input type="number" placeholder="number">
        <input type="number" placeholder="number">
        <input type="number" placeholder="number">
    </div>
    <div class="ctn-right2">
        <label>Location</label>
        <br>
        <label>To</label>
        <br>
        <label>Service</label>
        <br>
        <label>Inservice date</label>
        <br>
        <label>Original thickness</label>
        <br>
        <label>Joint efficiency</label>
        <br>
        <label>desigh life</label>
        <br>
        <label>operating pressure</label>
        <br>
        <label>operating temperature</label>
    </div>
    <div class="ctn-right1">
        <input type="text" placeholder="text" id="">
        <input type="text" placeholder="text" id="">
        <input type="number" placeholder="number">
        <input type="date">
        <input type="number" placeholder="number">
        <input type="number" placeholder="number">
        <input type="number" placeholder="number">
        <input type="number" placeholder="number">
        <input type="number" placeholder="number">
    </div>
</div>
