<h2 style="margin: 20px 0 0 20px;">LINE NUMBER: <label style="color: rgb(66, 125, 180);">{{selectedData.line_number}}</label></h2>
<div class="container-detail">
    <div style="width:90vw;">
        <div class="topic" style="font: 1.7em sans-serif;">CML
            <button class="addCML" style="margin-right: 10px;">Add CML</button>
        </div>
        <table>
            <thead>
                <td class="td-detail" style="font: 1.3em sans-serif;">CML number</td>
                <td class="td-detail" style="font: 1.3em sans-serif;">CML description</td>
                <td class="td-detail" style="font: 1.3em sans-serif;">Actual outside diameter</td>
                <td class="td-detail" style="font: 1.3em sans-serif;">Design thickness (mm)</td>
                <td class="td-detail" style="font: 1.3em sans-serif;">Structural thickness (mm)</td>
                <td class="td-detail" style="font: 1.3em sans-serif;">Required thickness (mm)</td>
                <td class="td-detail"></td>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>